doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/main.js")
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    block head
  body
    header
      block header
    block content
